<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyeCard IAP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyeCard Pro.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF087031159A62A900589325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF8DB0A41480E97900C55084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB747F1178AFB7C00CE87D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE3B95514B63B4D0053FD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFF4A0115E4366E000A8F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
